# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfplan
*.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Dependencies
node_modules/
npm-debug.log*

# Environment
.env
.env.localsecrets/
